 /**
  *
  * Screenlayout
  *
  * @copyright		Copyright 2012 | CK2012
  * @link 		    https://github.com/menatwork/ck2012-boilerplate/
  */

@media screen, projection
{
  
  body {
	font:normal 12px/1.5em Arial, Helvetica, sans-serif;
	color:#000;
  }
  
 /*------------------------------------------------------------------------*/
  
 /**
  * Normalize content elements
  */

  a {
	color:#000;
	text-decoration:underline;
  }

  a:hover { 
	text-decoration:none; 
  }
  
  input, textarea, select {
	font:normal 12px/1.5em Arial, Helvetica, sans-serif;
  }
  
 /*------------------------------------------------------------------------*/

  #wrapper {

  }
  
 /*------------------------------------------------------------------------*/

  #header  {

  }
  
 /*------------------------------------------------------------------------*/
  
 /**
  * Navigation elements
  */
  
  .mod_navigation ul, 
  .mod_customnav ul {
	margin:0;
	padding:0;
	list-style:none;
  }
  
  #nav {

  }    
  
  #nav ul {

  }  
  
  #nav li {
  
  }
  
  #nav li.last {

  }
  
  #nav li a,
  #nav li span {

  }
 
  #nav li .active {

  } 
  
 /*------------------------------------------------------------------------*/
 
  #container {

  }
  
  #main {
  
  }
  
  #right {
  
  }
  
  #left {
  
  }
  
 /*------------------------------------------------------------------------*/
 
  #footer {

  }   

  #footer .inside {

  }
 
 /*------------------------------------------------------------------------*/
  
 /**
  * Clearfix
  */

  .clearfix:after {
	content: ".";
	display: block;
	font-size:0;
	height: 0;
	clear: both;
	visibility: hidden;
  }

  .clearfix { display: block; }
  
}